@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');


* {
    font-family: 'Roboto', sans-serif;
}

img{
    max-width: 100%;
    max-height: 100%;
}

html,body{
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    position: relative;
}

.firstSection{
    background-color: #1F2937;
    color: #F9FAF8;
    display: flex;
    flex-direction: column;
    padding: 20px 50px 60px;
}

.head{
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 50px;
}

ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    gap:50px;
}

a {
    text-decoration: none;
    color: #E5E7EB;
}

a:hover{
    color: lightcoral;
}

.text{ 
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.headline{
  font-size: 45px;
}

.description{
    font-size: 18px;
    color: #E5E7EB;
}

.signup button{
    background-color: #3882F6;
    border-radius: 5px;
    padding: 6px 25px;
    color: #F9FAF8;
    font-weight: bold;
    border-color: lightgray;
    margin-top: 10px;
}

.coverPic{
    height: 100%;
    max-width: 100%;
    max-height: 100%;
    width: 60%;
 }


.tail{
    display: flex;
    align-items: center;
    margin-top: 35px;
    gap: 30px;
}




.midSection{
    width: 100%;
    display: flex;
    flex-direction: column;
    gap:30px;
    
}


.midSection .title{
    text-align: center;
    font-size: 36px;
    font-weight: bolder;
    color: #1F2937;

}

.heros{
    display: flex;
    justify-content: center;
    gap: 30px;
    padding:0 30px 50px;
}

.heros p {
    text-align: center ;
    font-weight: bold;
}

img.champions{
    width: 95%;
    height: auto;
    border-radius: 1px;
}

.cells{
    display: flex;
    flex-direction: column;
    align-items: center;
}





.quoteSection{
    width: 100%;
    background-color: #E5E7EB;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.quote{
    padding: 100px;
    font-weight: lighter;
    font-style: italic;
    font-size: 30px;
    color: #1F2937; 
}

.author{
    margin-top: 20px;
    font-style: normal;
    font-size: large;
    font-weight: bold;
    text-align: end;
}





.lowerSection{ 
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}



.blueContainer{
    padding: 40px;
    width: 700px;
    margin: 100px ;
    border-radius: 7px;
    color: #F9FAF8;
    background-color: #3882F6;
    display: flex;
    align-items: center;
    justify-content: center;
}

.button2{
    margin-left: auto;
    margin-right: 10px;
}
.primary{
    font-weight: bold;
    margin-bottom: 10px;
}


.button2 button{
    color: #F9FAF8;
    border-color: lightgray;
    background-color: #3882F6;
    border-radius: 5px;
    padding: 6px 25px;
    font-weight: bold;
}





.footer{
    position: absolute;
    width: 100%;
    height: 20px;
    background-color: #1F2937;
    color: #F9FAF8;
    display: flex;
    gap: 25px;
    justify-content: center;
    align-items: center;
    padding: 20px 0px;
}

.copywrite{
    display: flex;
    justify-content: center;
    align-items: center;
}
